@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{font-family: 'Montserrat', sans-serif;}
@tailwind base;
@tailwind components;
@tailwind utilities;
a.active{
   @apply border-b-2 border-b-primary;
}
html{
   scroll-behavior: smooth;
}
.loader {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: rgb(228, 9, 9);
   position: relative;
 }
 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   border-radius: 50%;
   inset: 0;
   background: #fff;
   transform: rotate(0deg) translate(30px);
   animation: rotate 1s ease infinite;
 }
 .loader:after {
   animation-delay: 0.5s
 }
 @keyframes rotate {
   100% {transform: rotate(360deg) translate(30px)
 }
} 
 